

body {
  background: url(http://www.zingerbug.com/Backgrounds/background_images/white_parchment_paper_wallpaper_texture_seamless.jpg) no-repeat center center fixed;
	background-size: cover;
}


p {
	line-height: 150%
}


#content-contact {
	
  background: rebecca purple;
  width: 300px;
  border: 5px rgba(;
  padding: 20px;
  margin: 20px;
}
	

#block-intro {
	padding: 15px;
}


#jobs {
	padding: 30px;
	line-height
}

#block-date {
	text-size: 85%;}


#Employer {
	text-size: 150%;
}
	
