

body {
  background: url(http://www.zingerbug.com/Backgrounds/background_images/white_parchment_paper_wallpaper_texture_seamless.jpg) no-repeat center center fixed;
	background-size: cover;
}


h2, h4 { text-decoration: underline;
}


a:hover {
	background-color: rgba(240, 249, 71, .5);
}


.content-contact {

text-align: center;
	
  background: aqua;
  width: 1100px;
  border: 15px solid slategray;
  padding: 20px;
  margin: 20px;
}
	

.block-intro, .content-introduction {
	text-align: center;
	text-justify: auto;
}
	
.block-intro{
	padding: 10px;
	line-height: 150%;
}


#experience {
	background: wheat;
  	width: 700px;
  	border: 5px solid slategray;
  	padding: 20px;
  	margin: 20px;
}


.date {
	text-size: 125%;
}


.jobs {
	padding: 30px;
	line-height: 155%;	
}


.Employer {
	text-size: 150%;
}


.summary {
	padding: 5px;
	text-align: center;
	text-size: 125%;
}


.references {
	background: bisque;
  	width: 300px;
  	border: 5px solid slategray;
  	padding: 20px;
  	margin: 20px;
}

