

body {
  background: url(http://www.zingerbug.com/Backgrounds/background_images/white_parchment_paper_wallpaper_texture_seamless.jpg) no-repeat center center fixed;
	background-size: cover;
}



#content-contact {
  background-color: yellow;
  width: 300px;
  border: 15px solid lightgrey;
  padding: 20px;
  margin: 20px;
}
	

.Employer:hover {color: black;
		 background-color: lime;
	}

#content-experience {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid yellow;
  padding: 20px;
  margin: 20px;
}


#block-date {
	text-size: 85%;}


#Employer {
	text-size: 150%;}
	
