

body {
  background: url(http://www.zingerbug.com/Backgrounds/background_images/white_parchment_paper_wallpaper_texture_seamless.jpg) no-repeat center center fixed;
	background-size: cover;
}



#content-contact {
	
  background-color: rebecca purple;
  width: 300px;
  border: 40px solid lightgrey;
  padding: 20px;
  margin: 20px;
}
	

#block-intro {
	padding: 30px;
	line-height: 1.5;
}


#block-content {
	padding: 30px;
	line-height: 1.5;
}

#block-date {
	text-size: 85%;}


#Employer {
	text-size: 150%;
	
}
	
